[submodule "docker/web/its-pw"]
	path = docker/web/its-pw
	url = https://github.com/Lars5Janssen/its-pw.git
	branch = impiliziter_login
[submodule "docker/db/its-pw"]
	path = docker/db/its-pw
	url = https://github.com/Lars5Janssen/its-pw.git
	branch = impiliziter_login
